/packagecache/

# Subprojects with version numbers (downloaded via wrap)
/*-*/

# Other subprojects
/OpenScanLib/
/libtcspc/

# List of our .wrap files (because we do want to ignore any transitive
# dependency wraps, e.g. libtcspc's own test dependencies)
/*.wrap
!/OpenScanLib.wrap
!/libtcspc.wrap
